@model GroupCapstone.Models.Order

@{
    ViewData["Title"] = "ConfirmOrderComplete";
}

<>Confirm Order Complete</h1>


<hr />
<div class="">
    <div class="">
        <form asp-action="ConfirmOrderComplete" class="form" style="margin-top: 3rem;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="TotalPrice" />
            <input type="hidden" asp-for="IsPicked" />
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>

        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
