$color-primary: #007bcc;
$color-primary-light: #009aff;
$color-primary-dark: #005c99;

$color-secondary: #7bcc00;
$color-secondary-light: #9aff00;
$color-secondary-dark: #5c9900;

$color-tertiary: #801856;
$color-tertiary-light: #ff009a;
$color-tertiary-dark: #99005c;

$color-logo: orangered;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-light-beige-1: #eec13b;
$color-light-beige-2: #af8e2a;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;