.landing{
  height: 100vh;
  background-color: black;
    background-image: linear-gradient(
        to bottom,
        rgba($color-grey-dark-2, 0.5),
        rgba($color-grey-dark-3, 0.5)),
    url(../Assets/img/hero-1-medium.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__logo-box {
  height: fit-content;
  }

  &__logo {
    height: 4rem;
    transition-duration: 2s;
    &:hover {
      transform: scale(1.2) translate(-10%, -10%);
      transition-duration: 2s;
      cursor: pointer;
      fill: blueviolet;
    }
  }

  &__text-box {
    text-align: center;
    position: relative;
    top: 59%;
    margin-bottom: 0;
  }
}