.nav-logo {
  text-decoration: none;
}


.dropdown-content {
  display: none;
  position: relative;
  top: -1rem;
  left: -2.4rem;
  min-width: 16rem;
  z-index: 1;

  
  & a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    transition: all .3s;
    color: cornsilk;
  }
}


.show {
  display: block;  
}