
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
.nav-logo {
  text-decoration: none;
}


.dropdown-content {
  display: none;
  position: relative;
  top: -1rem;
  left: -2.4rem;
  min-width: 16rem;
  z-index: 1;

  
  & a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    transition: all .3s;
    color: cornsilk;
  }
}


.show {
  display: block;  
}

.nav {
  width: 100%;
  
  &-list {
    width:100%;
    list-style:none;
    position: fixed;
    background: $color-primary-dark;
    z-index: 1;
  
    & > .nav-listee {
      position:relative;
      float:left;
      padding:.25em 0em;
      margin:.25em 0em;
  
      text-transform:uppercase;
      cursor:pointer;
      background:rgba(255, 255, 255, .8);
      text-align:center;
      border-radius:.3em;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      transition-property: background, color, padding, border-radius;
      box-shadow:
        .1em -.1em 0 .1em rgba(0, 0, 0, .2),
        inset 0 0 0 .15em rgba(0, 0, 0, .4),
        -.1em .1em 0 .1em rgba(0, 0, 0, .2)
      ;
  
      &:after {
        position:absolute;
        z-index:-1;
        content:"";
        right:0;
        border-radius:50%;
        ;
      }

      &:last-child:after {
         box-shadow:none;
      }
  
      &:hover {
          background-color:rgba(251, 93, 0, .8);
          padding-left:3em;
  
         & > a {
            color:#fff;
          }
      }
  
      & > a {
        color:#333;
        text-decoration:none;
        font-size: 1.4em;
        transition:color .3s ease-in-out;
      }
    }
  }
}